/*
h1{
    color: rgb(0, 0, 0);
    font-family: "Sofia", sans-serif;
  font-size: 40px;
    
}
*/
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Sofia&display=swap');

body{
    font-size: 30px;
    text-align: center;
    font-family: 'Merienda', cursive;
    
}

img{
    border-radius: 50%;
    width: 500px;
   height: 400px;
}


h1 {
   
    
  }

