/*
h1{
    color: rgb(0, 0, 0);
    font-family: "Sofia", sans-serif;
  font-size: 40px;
    
}
*/
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Sofia&display=swap');

body{
    font-size: 25px;
    text-align: center;
    font-family: 'Merienda', cursive;
    
}

img{
    
    border-radius: 10px;
    
    width: 600px;
   height: auto;
}


ul{
  list-style-position: inside;
  
}

li{
  margin-top: 30px;
}

a{
  
  background-color: #9a2020;
  color: white;
  text-decoration: none;

  
  padding: 8px 16px;
  border-radius: 4px;
  
}


a.altButon{
  margin-bottom: 40px;
  display: inline-block;
  
}

ul.indexLi{
  list-style-type: none;
}





